# Task4.8

Step 1

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Creating a path for this project
path=r'C:\online course\career\python data\202304'

In [3]:
# Importing data
df_orders_products_merged=pd.read_pickle(r'C:\online course\career\python data\202304\02.Data\Prepared data\orders_products_merged_new4.7.pkl')

In [4]:
df_orders_products_merged.head(3)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,Order Interval,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly days,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders

In [5]:
df_orders_products_merged.shape

(32404859, 18)

step 2 In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe.

In [6]:
#Grouping data by 'department_id' and then aggregating to find mean of 'order_number'
df_orders_products_merged.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

step 3 Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

We may notice differences between the entire dataframe and a subset of the data. The entire dataset includes all the data, and the average calculated from it may be more representative than that of a subset.

Step4 Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [7]:
df_orders_products_merged['max_order'] = df_orders_products_merged.groupby(['user_id'])['order_number'].transform(np.max)

We make a new column called 'max_order', group by "user_id" calculate by order_number

In [8]:
df_orders_products_merged.head(12)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,Order Interval,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly days,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly days,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,Soda,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,Soda,77,7,9.0,Mid-range product,Regularly busy,Regularly days,Most orders,22

In [9]:
# Creating a 'loyalty' flag
df_orders_products_merged.loc[df_orders_products_merged['max_order']>40,'loyalty_flag']='Loyal customer'

In [10]:
df_orders_products_merged.loc[(df_orders_products_merged['max_order']<=40)&(df_orders_products_merged['max_order']>10),'loyalty_flag']='Regular customer'

In [11]:
df_orders_products_merged.loc[df_orders_products_merged['max_order']<10,'loyalty_flag']='New customer'

In [12]:
df_orders_products_merged['loyalty_flag'].value_counts(dropna=False)

Regular customer    15876776
Loyal customer      10284093
New customer         5470866
NaN                   773124
Name: loyalty_flag, dtype: int64

In [13]:
df_orders_products_merged[['user_id','loyalty_flag','order_number']].head(2)

   user_id loyalty_flag  order_number
0        1          NaN             1
1        1          NaN             2

Step5 The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [14]:
# Performing multiple aggregations ('min', 'max', 'mean', 'sum')
df_orders_products_merged.groupby('loyalty_flag').agg({'prices':['min','max','mean','sum']})

                 prices
                    min      max       mean          sum
loyalty_flag
Loyal customer      1.0  99999.0  10.386336  106814042.2
New customer        1.0  99999.0  13.208375   72261247.5
Regular customer    1.0  99999.0  12.495717  198391693.2

There are some differences in the data.The mean purchase for "New customers"is the highest,while it is the lowest for "Loyal customers".However, the total purchase price for"Regular customers"is higher than the totals for the otjer two groups,which is due to the larger number of "Regular customers"compared to "New"and"Loyal"customers.

step 6 The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [15]:
#Split the data into groups based on the 'user_id' column. Apply the transform() function on the 'prices' column to generate the average prices for each user.
df_orders_products_merged['avg_price'] = df_orders_products_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [16]:
df_orders_products_merged.head(10)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,Order Interval,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,Mid-range product,Regularly busy,Regularly days,Average orders,10,NaN,6.367797
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,NaN,6.367797
2,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,NaN,6.367797
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,NaN,6.367797
4,431534,1,prior,5,4,15,28.0,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,NaN,6.367797
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Regularly days,Average orders,10,NaN,6.367797
6,550135,1,prior,7,1,9,20.0,196,1,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,NaN,6.367797
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,NaN,6.367797
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,77,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,NaN,6.367797
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,77,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,NaN,6.367797

 If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.” If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [17]:
# Creating a 'spending' flag
df_orders_products_merged.loc[df_orders_products_merged['avg_price']<10,'spending_flag']='Low spender'

In [18]:
# Creating a 'spending' flag
df_orders_products_merged.loc[df_orders_products_merged['avg_price']>=10,'spending_flag']='High spender'

In [19]:
df_orders_products_merged.head(10)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,Order Interval,product_id,add_to_cart_order,reordered,...,department_id,prices,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,7,9.0,Mid-range product,Regularly busy,Regularly days,Average orders,10,NaN,6.367797,Low spender
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Average orders,10,NaN,6.367797,Low spender
2,473747,1,prior,3,3,12,21.0,196,1,1,...,7,9.0,Mid-range product,Regularly busy,Slowest days,Most orders,10,NaN,6.367797,Low spender
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,NaN,6.367797,Low spender
4,431534,1,prior,5,4,15,28.0,196,1,1,...,7,9.0,Mid-range product,Least busy,Slowest days,Most orders,10,NaN,6.367797,Low spender
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,7,9.0,Mid-range product,Regularly busy,Regularly days,Average orders,10,NaN,6.367797,Low spender
6,550135,1,prior,7,1,9,20.0,196,1,1,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,NaN,6.367797,Low spender
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,NaN,6.367797,Low spender
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,7,9.0,Mid-range product,Regularly busy,Busiest days,Most orders,10,NaN,6.367797,Low spender
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,7,9.0,Mid-range product,Least busy,Slowest days,Average orders,10,NaN,6.367797,Low spender

In [20]:
df_orders_products_merged.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,Order Interval,product_id,add_to_cart_order,reordered,aisle_id,department_id,prices,max_order,avg_price
count,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.032876e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07,3.240486e+07
mean,1.710745e+06,1.029372e+05,1.714230e+01,2.738867e+00,1.342515e+01,1.110408e+01,2.559866e+04,8.352547e+00,5.895873e-01,7.119612e+01,9.919792e+00,1.198023e+01,3.305217e+01,1.198023e+01
std,9.872988e+05,5.946610e+04,1.753532e+01,2.090077e+00,4.246380e+00,8.779064e+00,1.408400e+04,7.127071e+00,4.919087e-01,3.821139e+01,6.281485e+00,4.956554e+02,2.515525e+01,8.324227e+01
min,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
25%,8.559470e+05,5.142200e+04,5.000000e+00,1.000000e+00,1.000000e+01,5.000000e+00,1.354400e+04,3.000000e+00,0.000000e+00,3.100000e+01,4.000000e+00,4.200000e+00,1.300000e+01,7.387298e+00
50%,1.711049e+06,1.026160e+05,1.100000e+01,3.000000e+00,1.300000e+01,8.000000e+00,2.530200e+04,6.000000e+00,1.000000e+00,8.300000e+01,9.000000e+00,7.400000e+00,2.600000e+01,7.824786e+00
75%,2.565499e+06,1.543890e+05,2.400000e+01,5.000000e+00,1.600000e+01,1.500000e+01,3.794700e+04,1.100000e+01,1.000000e+00,1.070000e+02,1.600000e+01,1.130000e+01,4.700000e+01,8.254023e+00
max,3.421083e+06,2.062090e+05,9.900000e+01,6.000000e+00,2.300000e+01,3.000000e+01,4.968800e+04,1.450000e+02,1.000000e+00,1.340000e+02,2.100000e+01,9.999900e+04,9.900000e+01,2.500542e+04

In [21]:
#Checking the count of 'spending_flag' values
df_orders_products_merged['spending_flag'].value_counts(dropna=False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [22]:
df_orders_products_merged['spending_flag'].value_counts(dropna=False).sum()

32404859

In [23]:
# to check out wether some data missing
df_orders_products_merged.shape

(32404859, 22)

The sum of count of values of 'spending_flag' is equal to total number of rows

Step 7 
In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

In [24]:
#Split the data into groups based on the 'user_id' column. Apply the transform() function on the 'days_since_prior_order' column to generate the median order frequency for each user.
df_orders_products_merged['median_freq'] = df_orders_products_merged.groupby(['user_id'])['Order Interval'].transform(np.median)

In [25]:
# create order_freq_flag
# If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”
df_orders_products_merged.loc[df_orders_products_merged['median_freq']>20,'order_freq_flag']='Non-frequent customer'

In [26]:
#If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”
df_orders_products_merged.loc[(df_orders_products_merged['median_freq']>10)&(df_orders_products_merged['median_freq']<=20),'order_freq_flag']='Regular customer'

In [27]:
# If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”
df_orders_products_merged.loc[df_orders_products_merged['median_freq']<=10,'order_freq_flag']='Frequent customer'

In [28]:
df_orders_products_merged.head(10)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,Order Interval,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_freq,order_freq_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,Mid-range product,Regularly busy,Regularly days,Average orders,10,NaN,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Average orders,10,NaN,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,prior,3,3,12,21.0,196,1,1,...,Mid-range product,Regularly busy,Slowest days,Most orders,10,NaN,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,NaN,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,prior,5,4,15,28.0,196,1,1,...,Mid-range product,Least busy,Slowest days,Most orders,10,NaN,6.367797,Low spender,20.5,Non-frequent customer
5,3367565,1,prior,6,2,7,19.0,196,1,1,...,Mid-range product,Regularly busy,Regularly days,Average orders,10,NaN,6.367797,Low spender,20.5,Non-frequent customer
6,550135,1,prior,7,1,9,20.0,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,NaN,6.367797,Low spender,20.5,Non-frequent customer
7,3108588,1,prior,8,1,14,14.0,196,2,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,NaN,6.367797,Low spender,20.5,Non-frequent customer
8,2295261,1,prior,9,1,16,0.0,196,4,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,10,NaN,6.367797,Low spender,20.5,Non-frequent customer
9,2550362,1,prior,10,4,8,30.0,196,1,1,...,Mid-range product,Least busy,Slowest days,Average orders,10,NaN,6.367797,Low spender,20.5,Non-frequent customer

In [29]:
#Checking the count of 'order_freq_flag' values
df_orders_products_merged['order_freq_flag'].value_counts(dropna=False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: order_freq_flag, dtype: int64

We could find that the number of Frequent customer is higher than Regular customer.It's mean we can put more advantage in Frequent customer and make than more Frequent to buy our product.

In [30]:
df_orders_products_merged['order_freq_flag'].value_counts(dropna=False).sum()

32404859

In [31]:
df_orders_products_merged.shape

(32404859, 24)

In [33]:
#drop the rows where at least one element is missing.
df_orders_products_merged.dropna()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,Order Interval,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price,spending_flag,median_freq,order_freq_flag
10,2968173,15,prior,15,1,9,7.0,196,2,0,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
11,1870022,15,prior,17,2,16,8.0,196,6,1,...,Mid-range product,Regularly busy,Regularly days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
12,1911383,15,prior,18,2,11,7.0,196,1,1,...,Mid-range product,Regularly busy,Regularly days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
13,2715276,15,prior,21,1,9,7.0,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
14,487368,15,prior,22,1,10,14.0,196,1,1,...,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,10.0,Frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404852,2329472,202557,prior,15,6,12,6.0,43553,2,1,...,Low_range product,Regularly busy,Regularly days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404853,694731,202557,prior,16,1,14,2.0,43553,2,1,...,Low_range product,Regularly busy,Busiest days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404854,1320836,202557,prior,17,2,15,1.0,43553,2,1,...,Low_range product,Regularly busy,Regularly days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404855,31526,202557,prior,18,5,11,3.0,43553,2,1,...,Low_range product,Regularly busy,Regularly days,Most orders,31,Regular customer,6.905655,Low spender,8.0,Frequent customer
32404857,2745165,203436,prior,2,3,5,15.0,42338,16,1,...,Mid-range product,Regularly busy,Slowest days,Fewest orders,3,New customer,7.631579,Low spender,15.0,Regular customer

In [41]:
# create a new version with a different name
df_orders_products_merged_clean=df_orders_products_merged.dropna()

In [42]:
# check
df_orders_products_merged_clean['loyalty_flag'].value_counts(dropna=False)

Regular customer    15081691
Loyal customer      10095381
New customer         4455665
Name: loyalty_flag, dtype: int64

In [43]:
df_orders_products_merged_clean['order_freq_flag'].value_counts(dropna=False)

Frequent customer        20468777
Regular customer          6333470
Non-frequent customer     2830490
Name: order_freq_flag, dtype: int64

In [44]:
df_orders_products_merged_clean.shape

(29632737, 24)

Step 9 exported data

In [45]:
df_orders_products_merged_clean.to_pickle(os.path.join(path,'02.Data','Prepared data','orders_products_merged_aggregated.pkl'))